<footer class="bg-blue-950 py-8">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
            <div>
                <h3 class="text-lg font-bold mb-4">About Us</h3>
                <ul class="space-y-2 text-gray-400">
                    <li>RevoFun is a new wave in online gaming — where innovation meets pure fun. We're on a mission to craft simple, addictive, and unforgettable browser-based games for all ages. Whether you're a casual clicker or a high-score hunter, there's something for you here. Stay tuned as we level up the world of web games!</li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-4">Support</h3>
                <ul class="space-y-2 text-gray-400">
                    <li><a href="#" class="hover:text-white">Help Center</a></li>
                    <li><a href="#" class="hover:text-white">FAQ</a></li>
                    <li><a href="#" class="hover:text-white">Contact</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-4">Connect</h3>
                <ul class="space-y-2 text-gray-400">
                    <li><a href="#" class="hover:text-white">Discord</a></li>
                    <li><a href="#" class="hover:text-white">x.com</a></li>
                    <li><a href="#" class="hover:text-white">Instagram</a></li>
                </ul>
            </div>
            <div>
                <h3 class="text-lg font-bold mb-4">Contact Us</h3>
                <ul class="space-y-2 text-gray-400">
                    <li>Have questions, feedback, or just want to say hi? We’d love to hear from you! Reach out anytime — our team is here to connect.</li>
                    <li><a href="#" class="hover:text-white">Contact Person: Agus Purwadi</a></li>
                    <li><a href="#" class="hover:text-white">Email: agusadi@gmail.com</a></li>
                    <li><a href="#" class="hover:text-white">WhatsApp: +62 85693935007</a></li>
                </ul>
            </div>
        </div>
        <!-- Copyright Section -->
        <div class="border-t border-gray-800 mt-8 pt-8">
            <div class="text-center">
                <span class=" text-gray-400">© 2025 RevoFun. All rights reserved.</span>
            </div>
        </div>
    </div>
</footer>